
    <footer class="footer">
      <div class="content has-text-centered">
        <div class="columns is-vcentered is-centered">
          <div class="column is-one-quarter">
            <figure class="image">
              <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer"><img alt="CC BY-SA 4.0" src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-sa.svg" style="height: 31pt; width: 81pt" /></a>
            </figure><!--/.image-->
          </div><!--/.column .is-one-quarter-->
          <div class="column is-one-quarter">
            <figure class="image">
              <a href="https://www.oshwa.org/"><img alt="Open Source Hardware Logo" src="https://www.oshwa.org/wp-content/uploads/2014/03/oshw-logo.svg" style="height: 48pt" /></a>
            </figure><!--/.image-->
          </div><!--/.column .is-one-quarter-->
          <div class="column is-one-quarter">
            <figure class="image">
              <a href="https://qmk.fm/"><img alt="Powered by QMK logo" src="https://qmk.fm/assets/images/badge-dark.svg" style="height:42pt" /></a>
            </figure><!--/.image-->
          </div><!--/.column .is-one-quarter-->
        </div><!--/.columns .is-vcentered-->
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://gitlab.com/mkbd65/">mkbd65</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://gitlab.com/xengi">XenGi</a> is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0</a></p>
      </div><!--/.content .has-text-centered-->
    </footer><!--/.footer-->

    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
