    <section class="hero is-dark is-halfheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <figure class="image is-128x128 is-inline-block">
            <img src="/img/mkbd65_222x222.png" />
          </figure><!--/.image .is-128x128-->
          <p class="title">mkbd65</p><!--/.title-->
          <p class="subtitle">Mobile 65% keyboard addon for modern smartphones</p><!--/.subtitle-->
        </div><!--/.container .has-text-centered-->
      </div><!--/.hero-body-->
    </section><!--/.hero .is-dark .is-halfheight-->

    <section id="features" class="section">
      <div class="container">
        <h1 class="title">Features</h1>
        <div class="content">
          <ul>
            <li>Full qwerty keyboard layout</li>
            <li>Fully customizable through QMK firmware</li>
            <li>Primary target layout is "English US intl. with AltGr"</li>
            <li>Uses the phones USB-C port</li>
            <li>Supports USB Power Delivery, phone can still fast charge while keyboard is plugged in</li>
            <li>No Bluetooth &ndash; No additional battery</li>
            <li>Very thin footprint</li>
            <li>Open source firmware (QMK)</li>
            <li>Open source hardware</li>
          </ul>
        </div><!--/.content-->
      </div><!--/.container-->
    </section><!--/.section-->

    <section class="section">
      <div class="container">
        <h1 class="title">Roadmap</h1>
        <div class="content">
          <h2 class="subtitle">Revision 0 (Prototype)</h2>
          <ul>
            <li>Standard qwerty keyboard</li>
            <li>USB connection with USB-C cable</li>
          </ul>
          <h2 class="subtitle">Revision 1 (planned)</h2>
          <ul>
            <li>Slide out mechanism</li>
            <li>Keyboard can be permanently connected to the phone</li>
            <li>USB connection with USB-C flex cable</li>
            <li>Charging the phone with additional USB-C port (no data)</li>
          </ul>
          <h2 class="subtitle">Revision 2 (planned)</h2>
          <ul>
            <li>
              Integrated USB Hub
              <ul>
                <li>Charging the phone via additional USB-C port with USB-PD passthrough and data!</li>
                <li>Get an additional USB-C port to connect other accessories</li>
              </ul>
            </li>
            <li>Key frontlight</li>
          </ul>
          <h2 class="subtitle">Future revisions may include</h2>
          <ul>
            <li>Headphone jack with dedicated sound card connected to the on board USB hub</li>
            <li>Headphone jack using USB-C SBU pins</li>
            <li>Key backlight</li>
          </ul>
        </div><!--/.content-->
      </div><!--/.container-->
    </section><!--/.section-->

    <section id="layout" class="section">
      <h1 class="title">Example layouts</h1>
      <div class="columns">
        <div class="column">
          <h2 class="subtitle">English US International (ANSI)</h2>
          <div class="container">
            <div class="content">
              <figure class="image">
                <a href="http://www.keyboard-layout-editor.com/#/gists/c02095977e3da3a2bc016f7061b70262"><img src="/img/mkbd65-ansi.png" alt="English US International (ANSI) layout" /></a>
              </figure><!--/.image-->
              <figure class="image">
                <a href="http://www.keyboard-layout-editor.com/#/gists/c02095977e3da3a2bc016f7061b70262"><img src="/img/mkbd65-ansi-fn.png" alt="English US International (ANSI) layout Fn combinations" /></a>
              </figure><!--/.image-->
            </div><!--/.content-->
          </div><!--/.container-->
        </div><!--/.column-->

        <div class="column">
          <h2 class="subtitle">German (ISO)</h2>
          <div class="container">
            <div class="content">
              <figure class="image">
                <a href="http://www.keyboard-layout-editor.com/#/gists/c02095977e3da3a2bc016f7061b70262"><img src="/img/mkbd65-iso.png" alt="German (ISO) layout" /></a>
              </figure><!--/.image-->
              <figure class="image">
                <a href="http://www.keyboard-layout-editor.com/#/gists/c02095977e3da3a2bc016f7061b70262"><img src="/img/mkbd65-iso-fn.png" alt="German (ISO) layout Fn combinations" /></a>
              </figure><!--/.image-->
            </div><!--/.content-->
          </div><!--/.container-->
        </div><!--/.column-->
      </div><!--/.columns-->
    </section><!--/.section-->

    <section id="layout" class="section">
      <div class="container">
        <h1 class="title">Tips</h1>
        <div class="content">
          <p>The <span class="tag">Fn</span> key unlocks a lot of the missing keys and other functions.</p>
          <p>The key labeled <span class="tag">Alt</span> is actually the <span class="tag">AltGr</span> key. Because the <span class="tag">Alt</span> key is not very useful on Android but the <span class="tag">AltGr</span> key is used heavily in many layouts.</p>
          <p>The <span class="tag">AltGr</span> key is also a sticky key. That means that it remains active until the next key is pressed and then it is released. This allows you to type keyboard combinations without pressing more than one key at a time.</p>
          <p>This keyboard uses the Esc-Grave option from QMK to combine the <span class="tag">Esc</span> and <span class="tag">`~</span> (<span class="tag">^°</span> in German layout) keys</p>
          <p>Useful combinations:</p>
          <ul>
            <li>Hold left thumb on <span class="tag">Fn</span> and right thumb on <span class="tag">⏎</span> to press <span class="tag">Super</span> (Windows key)</li>
            <li>Get <span class="tag">`</span> key by pressing <span class="tag">Fn</span> with left thumb and <span class="tag">'</span> with right thumb</li>
            <li>Get <span class="tag">~</span> key by pressing <span class="tag">Shift</span> with right thumb and <span class="tag">Esc</span> with left thumb (This is the mentioned Grave Escape feature of the QMK firmware)</li>
            <li>Get <span class="tag">&euro;</span> by tapping <span class="tag">AltGr</span> followed by <span class="tag">5</span> in the English (US) international layout</li>
            <li>Get the german umlaut <span class="tag">ä</span> by tapping <span class="tag">AltGr</span> followed by <span class="tag">q</span> in the English (US) international layout</li>
            <li>Get the german umlaut <span class="tag">ü</span> by tapping <span class="tag">AltGr</span> followed by <span class="tag">y</span> in the English (US) international layout</li>
            <li>Get the german umlaut <span class="tag">ö</span> by tapping <span class="tag">AltGr</span> followed by <span class="tag">p</span> in the English (US) international layout</li>
            <li>Cycle through open applications with <span class="tag">Fn</span>+<span class="tag">O</span> and <span class="tag">Fn</span>+<span class="tag">P</span> (macro for <span class="tag">Alt</span>+<span class="tag">Tab</span> and <span class="tag">Alt</span>+<span class="tag">Shift</span>+<span class="tag">Tab</span>)
            <li>I'm sorry french typists using the English US International layout:
              <ul>
                <li>Tapping <span class="tag">AltGr</span> followed by <span class="tag">Fn</span>+<span class="tag">'</span> is the only way to get <span class="tag">`</span> and combine it with the next char</li>
                <li>Tapping <span class="tag">AltGr</span> followed by <span class="tag">Shift</span>+<span class="tag">Fn</span>+<span class="tag">'</span> is the only way to get <span class="tag">~</span> and combine it with the next char</li>
              </ul>
            </li>
          </ul>
        </div><!--/.content-->
      </div><!--/.container-->
    </section><!--/.section-->

    <section id="hardware" class="section">
      <div class="container">
        <h1 class="title">Hardware</h1>
        <div class="content">
          <h2>Revision 0 (Prototype)</h2>
          <p>
            <figure class="image is-2by1">
              <img src="https://gitlab.com/mkbd65/pcb/-/raw/main/mkbd65_front.png?inline=false" />
            </figure><!--/.image .is-2by1-->
            <figure class="image is-2by1">
              <img src="https://gitlab.com/mkbd65/pcb/-/raw/main/mkbd65_back.png?inline=false" />
            </figure><!--/.image .is-2by1-->
          </p>
          <p>mkbd65 has the USB Vendor ID 1209 and Product ID 4803. You can find it <a href="https://pid.codes/1209/4803/">here</a>.</p>
          <p>The PCB is made with <a href="http://www.kicad.org">KiCAD</a>. You can download the files <a href="https://gitlab.com/mkbd65/pcb">here</a>.</p>
          <p>It costs about 7-25€ to produce the PCB in a fab like JLCPCB. The full <abbr title="Bill of materials">BOM</abbr> can be found <a href="https://octopart.com/bom-tool/YlMBpo3w">here</a>.</p>
        </div><!--/.content-->
      </div><!--/.container-->
    </section><!--/.section-->

    <section id="case" class="section">
      <div class="container">
        <h1 class="title">Case</h1>
        <p>The CAD files for the case are generated from adaptable file using <a href="https://openscad.org/">OpenSCAD</a>.</p>
        <p>The case and keyboard parts can be easily adapted to any phones shape. Some expections are phone with "weird" camera bumps.</p>
        <p><i>Imagine some nice pictures of colorful 3D prints here!</i></p>
      </div><!--/.container-->
    </section><!--/.section-->

    <section id="compat" class="section">
      <div class="container">
        <h1 class="title">Compatible phones</h1>

        <div class="content">
          <p>The final PCB will be compatible with any phone that has a USB-C port and fits some minimal size requirements. The CAD files for the case can be easily adapted to most phones. The limiting factor is mostly the shape of the camera bump.</p>
          <p>Currently only these models have been tested and are known to work:</p>
          <ul>
            <li><a href="https://www.samsung.com/us/smartphones/galaxy-s22/">Samsung S22+</a> (primary target)</li>
            <li><a href="https://www.motorola.com/us/smartphones-moto-g100/p">Motorola moto g100</a> (planned)</li>
          </ul>
          <p>Phones that will never end up on this list include the newer Google Pixel phone with the visor camera bump because it doesn't have any space for the keyboard. So don't get your hopes up to use these with it. I hope the Pixel 8 will have a different design.</p>
          <p>You want your phone on this list? Open an issue <a href="https://gitlab.com/mkbd65/case/-/issues/new#">here</a> and use the "New phone" template.</p>
        </div><!--/.content-->
      </div><!--/.container-->
    </section><!--/.section-->
